[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pradipkumarmodi
[access "refs/for/refs/*"]
	read = group user/pradipkumarmodi
	push = group user/pradipkumarmodi
	label-Code-Review = -2..+2 group user/pradipkumarmodi
	label-Verified = -1..+1 group user/pradipkumarmodi
	rebase = group user/pradipkumarmodi
	removeReviewer = group user/pradipkumarmodi
	submit = group user/pradipkumarmodi
[access "refs/heads/*"]
	read = group user/pradipkumarmodi
	create = group user/pradipkumarmodi
	push = +force group user/pradipkumarmodi
	pushMerge = group user/pradipkumarmodi
[access "refs/tags/*"]
	push = +force group user/pradipkumarmodi
	pushTag = group user/pradipkumarmodi
	pushSignedTag = group user/pradipkumarmodi
